#container{
    
    width: 300px;
    
    
}
#rating{
    height: 365px;
    width: 450px;
    border-top: solid;
    border-bottom: solid;
    margin: 15px;
    float: left; 

}
#profInfo{
     margin: 15px;
     border-top: solid;
    border-bottom: solid;
     width: 600px;
     height: 150px;
     float: left; 
    
}

textarea#comment{
    height: 200px;
    width: 400px;
    float: left;
    
}
#submitP{
    float: left;  
    margin-top: 15px;
    
    
}
#ratTitle{
 
    
}

fieldset{
 text-align: center;   

    
}
#cArea{
 margin-top: 20px;   
    
    
    
}
#home{
cursor: pointer;
color:darkturquoise;
}