#container{
    
    width: 300px;
    
    
}
.stars {
  unicode-bidi: bidi-override;
  direction: rtl;
text-align: left;
}
.stars > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.stars > span:hover:before,
.stars > span:hover ~ span:before {
   content: "/x2605";
   position: absolute;
}

#rating{
    height: 250px;
    width: 300px;
    border: solid;
    margin: 15px;
    float: left; 

}
#profInfo{
     margin: 15px;
     border: solid;
     width: 600px;
     height: 150px;
     float: left; 
    
}

textarea#comment{
    height: 200px;
    width: 400px;
    float: left;
    
}
#submitP{
    float: left;  
    margin-top: 15px;
    
    
}
